<h1>Listing Stories</h1>

<%= link_to 'New story', new_story_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Blurb</th>
    <th>Link</th>
    <th>Date</th>
  </tr>
 
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.title %></td>
      <td><%= story.blurb %></td>
      <td><%= story.link %></td>
      <td><%= story.date %></td>
      <td><%= link_to 'Show', story_path(story) %></td>
    </tr>
  <% end %>
</table>