<h1>Listing Stories</h1>

<%= link_to 'New story', new_story_path %>
 
<% @stories.each do |story| %>

  <h2><%= story.title %></h2>
  <p><%= story.blurb %></p>
  <p><%= story.link %></p>
  <p><%= story.date %></p>
  
  <p><%= link_to 'Show', story_path(story) %> | 
        <%= link_to 'Edit', edit_story_path(story) %> | <%= link_to 'Destroy', story_path(story),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></p>

<% end %>
