<h1>Listing Stories</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Blurb</th>
    <th>Link</th>
    <th>Date</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.blurb %></td>
      <td><%= article.link %></td>
      <td><%= article.date %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>